.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    border-style: dashed solid;
    text-align: center;
    background-color: white;
    padding: 15px;
    font-weight: bold;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .login__btn {
    padding: 50px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 8%;
    border: none;
    color: white;
    background-color: #257183;
  }
  .login__google {
    background-color: #257183;
  }
  .login div {
    margin-top: 7px;
  }