body{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #333;	
		padding: 0px;	
		margin: 30px;
	}
	.clear{
		clear: both;
	}
	.all-wrap{
		width: 60%;
		margin: auto;	
	}
	ul{
		list-style: none;
	}
	.logo img{
		width: 25%;
	}
	.logo .line-lag{
		background-color: #ef4438;
		height: 10px;
		width: 60%;
		display: block;
		float: right;
		margin-top: 10px;
	}
	.logo .line-lag::after {
		content: "";
		width: 10px;
		height: 10px;
		background-color: #ef4438;
		display: inline-block;
		float: left;
		-ms-transform: skew(-20deg); /* IE 9 */
		-webkit-transform: skew(-20deg); /* Safari */
		transform: skew(-20deg);
		margin-left: -5px;
	}
	.head-top{
		width: 100%;
		float: left;
		margin-top: 30px;
	}
	.head-top-left{
		color: #666;
		width: 50%;
		float: left;
		font-size: 13px;
	}
	.head-top-left ul{
		margin: 0px;
		padding: 0px;
	}
	.head-top-left i{
		width: 2%;
		display: inline-block;
	}
	.head-top-left ul span{
		padding-left: 20px;
		width: 98%;
	}
	.head-top-right{
		width: 50%;
		float: left;
		text-align: right;
	}
	.head-top-right h1{
		font-size: 40px;
		text-transform: uppercase;
		font-weight: 800;
		text-align: right;
		margin: 0px;
		margin-top: -15px;
	}
	.head-top-right h1 span{
		color: #ef4438;
	}
	.head-top-right p{
		margin: 5px 0px;
	}
	.head-bottom{
		width: 100%;
		float: left;
		margin-top: 30px;
	}
	.head-bottom-left{
		width: 60%;
		float: left;
		font-size: 13px;
	}
	.head-bottom-left ul{
		padding-left: 17px;
	    margin: 0px;
	    border-left: 6px solid #ef4438;
	    margin-left: 3px;
	}
	.head-bottom-right{
		width: 40%;
		float: left;
		text-align: right;
		
	}
	.head-bottom-right h2{				
	    background-color: #ef4438;
	    color: #fff;
	    height: 55px;
	    line-height: 55px;
	    padding-right: 15px;
	    margin: 0px;	    
	    font-weight: normal;
	    font-size: 25px;
	}
	.head-bottom-right h2 span{
		font-weight: bold;
		padding-left: 40px;
	}
	.head-bottom-right h2::after {
		content: "";
		width: 25px;
		height: 55px;
		background-color: #ef4438;
		display: inline-block;
		float: left;
		-ms-transform: skew(-20deg); /* IE 9 */
		-webkit-transform: skew(-20deg); /* Safari */
		transform: skew(-20deg);
		margin-left: -10px;
	}
	.container{
		width: 100%;
		float: left;
		margin-top: 50px;
	}
	table {
	    border-collapse: collapse;
	}
	.table-total{
		border-top: 0px;
		font-size: 13px;	
		width: 100%;	
	}
	.table-total th{
		border-bottom: 3px solid #ef4438;
		color: #ef4438;
	
		font-size: 14px;
	} 
	.table-total th:nth-child(1){
		list-style: square;	
		text-align: left;
		width: 55%;
		padding-left: 0px;
	} 
	.table-total th:nth-child(1) i{
		padding-right: 10px;
	} 
	.table-total tr{
		border-bottom: 1px solid #ef4438;
		text-align: center;
	} 
	.table-total td{		
		text-align: center;
		padding: 0px 10px;
	} 
	.table-total td:nth-child(1){		
		text-align: left;
		border-left: 1px solid #ef4438;
		padding-left: 22px;
	} 
	.table-total td:last-child{				
		border-right: 1px solid #ef4438;
	} 
	.table-total h3{
		margin-bottom: 3px;
	}
	.table-total p{
		margin-top: 3px;
	}
	.infomation{
		width: 100%;
		float: left;
	}
	.info-left{
		width: 50%;
		float: left;
	}
	.info-right{
		width: 50%;
		float: left;
	}
	.info-pay{
	    background-color: #efeeee;
	    text-align: left;
	    padding: 0px 20px;
	    line-height: 28px;
	    margin-top: 30px;
	    display: inline-block;
	}
	.info-right table{
		font-size: 14px;
		font-weight: bold;
		float: right;
		width: 80%;
		line-height: 35px;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.info-right table td:nth-child(1){		
		text-align: left;
	}
	.info-right table td:last-child{				
		text-align: right;
	}
	.info-right table tr:nth-child(1){		
		border-bottom: 1px dotted #333;
	}
	.info-right table tr:last-child{				
		border-top: 1px dotted #333;
	}
	.info-sing{
		margin-top: 40px;
		padding-left: 20px;		
	}
	.info-sing p:last-child{
		margin-top: 20px;
	}
	.info-sing img{
		width: 50%;
		margin: 10px 0px;
	}
	.footer{
		margin-top: 50px;
		float: left;
		width: 100%;
		font-size: 13px;
	}
	.footer p{
		padding: 0px 20px;
		color: #999;
		border-bottom: 2px solid #eee;
		padding-bottom: 20px;
	}
	.footer-info{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		float: left;
		padding-left: 20px;
	}
	.footer-info img{
		width: 25%;
		float: left;
	}
	.footer-info ul{
		color: #999;
		float: left;
		margin: 0px;
		padding: 0px;
		padding-left: 50px;
	}

	/*responsive*/
	
	@media only screen and (max-width : 1366px) {
		.all-wrap{
			width: 100%;
			margin: auto;	
		}
	}
	@media only screen and (max-width : 834px) {
		.all-wrap{
			width: 100%;
			margin: auto;	
		}
		.logo img{
				width: 30%;
			}
		.logo .line-lag{
			background-color: #ef4438;
			height: 10px;
			width: 50%;
			display: block;
			float: right;
			margin-top: 10px;
		}
		.logo .line-lag::after {
			content: "";
			width: 10px;
			height: 10px;
			background-color: #ef4438;
			display: inline-block;
			float: left;
			-ms-transform: skew(-20deg); /* IE 9 */
			-webkit-transform: skew(-20deg); /* Safari */
			transform: skew(-20deg);
			margin-left: -5px;
		}
		.head-bottom-right {
		    width: 35%;
		    float: right;
		    text-align: right;
		}
		.head-bottom-right h2 {
		    font-size: 15px;
		}		
	}	
	@media only screen and (max-width : 672px) {
		body{
			margin: 20px;
		}
		.all-wrap{
			width: 100%;
			margin: auto;	
		}
		.logo img{
				width: 30%;
			}
		.logo .line-lag{
			background-color: #ef4438;
			height: 10px;
			width: 50%;
			display: block;
			float: right;
			margin-top: 10px;
		}
		.logo .line-lag::after {
			content: "";
			width: 10px;
			height: 10px;
			background-color: #ef4438;
			display: inline-block;
			float: left;
			-ms-transform: skew(-20deg); /* IE 9 */
			-webkit-transform: skew(-20deg); /* Safari */
			transform: skew(-20deg);
			margin-left: -5px;
		}
		.head-top-left {
		    width: 100%;
		}		
		.head-top-right{
			width: 100%;
			margin-top: 20px;
		}
		.head-bottom-left{
			width: 100%;
		}
		.head-bottom-right{
			width: 100%;
			margin-top: 20px;
		}
		.head-bottom-right h2::after {
		    content: "";
		    width: 0px;
		    height: 0px;		    
		}
		.head-bottom-right h2 {
		    font-size: 25px;
		    text-align: center;
		}	
		.info-left{
			width: 100%;
			float: left;
			display: none;
		}	
		.info-right{
			width: 100%;
		}
		.info-right table{
			width: 100%;
		}
		.table-total th:nth-child(1){
			width: 45%;
		}
		.footer-info img{
			width: 30%;
		}
		.footer-info ul{
			width: 50%;
		}
	}		
	@media only screen and (max-width : 580px) {
		body{
			margin: 10px 3px;
		}
		.footer-info img{
			width: 40%;
			text-align: center;
		}
		.footer-info ul{
			width: 100%;
			margin-top: 20px;
			padding-left: 0px;
			margin-left: 0px;
		}
		.logo img {
		    width: 40%;
		}
		.logo .line-lag{
			width: 40%;
		}
		.table-total td:nth-child(1){
			padding-left: 3px;
		}
		.footer p{
			padding-left: 10px;
		}
	}		
	p{
	    font-size:12px!important;
	    line-height: normal;
	}


